name: CI
on:
  push:
    branches:
      - master
jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Set environment variable
      run: echo "API_KEY=${{ secrets.API_Key }}" >> $GITHUB_ENV

    - name: Deploy
      uses: JamesIves/github-pages-deploy-action@v4
      with:
        folder: .
